//Created by Ahmet on 10/19/2016.

//TODO: Create an "Register" Page

extends layout

block content
    h1= 'Register'

           form(method='post', action='/users/register')
                    .form-group
                       label Name
                       input.form-control(name='name', type='text')
                   .form-group
                       label Last Name
                       input.form-control(name='lastName', type='text')
                   .form-group
                       label Email
                       input.form-control(name='email', type='email')
                   .form-group
                       label Username
                       input.form-control(name='Username', type='text')
               .form-group
                   label Password:
                   input.form-control(name='password', type='password')
               input.btn.btn-primary(type='submit', name='submit',value='Register')

               //TODO: Fix the style (bold text etc.) 