//Created by Ahmet on 10/27/2016.

extends layout

block content
    .row
        .col-md-3
            br
            h3.
                Welcome Writer
            br
            br
            input.btn.btn-default(name="addCat", value="Add Category")
            br
            input.btn.btn-default(name="addArt", value="Add Article")



